body{
     background-color: white; 
}
 table{
    border:3px solid black;  
    background-color: peru;
    border: spacing 60px;
} 
td,th{
    border: 2px solid black;
    padding-top: 20px;
    padding: 30px;
}

  

 
